* {
    background-color: #e6fcf1;
    font-family: sans-serif, Times;
}
#top {
    display: flex;
}

#imatge_top {
    height: 150px;
    width:150px;
    border:solid black 5px;
    border-top-left-radius: 10%; 
    border-bottom-left-radius: 10%;
}

#text_top {
    height: 150px;
    width:1000px;
    border:solid black 5px;
    border-left: 0px;
    border-bottom: solid black 5px;
}

#info_top {
    height: 150px;
    width:300px;
    border:solid black 5px;
    border-top-right-radius: 10%; 
    border-bottom-right-radius: 10%;
    border-left: 0px;
    font-size: 20px;
}

#info_top i{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#info_top i:hover {
    text-decoration: underline;
}

#imatge_top img{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    height:90%;
    border-radius: 50%;
    border: solid black 2px;
}

#imatge_top img:hover {
    border: solid orange 2px;
}

#text_top h1, #text_top h2{
    text-align: center;
}

#professio:hover {
    color:#5f5ff1;
}

section {
    margin-top: 10px;
}

#taula_body {
    display:grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-gap:5px;
}

#dades_academiques_esquerra, #dades_academiques_dreta{
    border-top: 2px dashed  #cfcfe2;
}

#dades_academiques_esquerra, #dades_academiques_dreta, #idiomes_esquerra, #idiomes_dreta, #experiencia_esquerra, #experiencia_dreta, #sobre_mi_esquerra, #sobre_mi_dreta {
    border-bottom: 2px dashed  #cfcfe2;
}

#sobre_mi_dreta b:hover {
    text-decoration: underline;
    color: #5f5ff1;
}