* {
    font-family: sans-serif, Times;
}

header {
    text-align-last: center;
}

section{
    margin:50px;
}

#llista_activitats_html, #llista_activitats_css{
    justify-items: center;
    display: flex;
    grid-gap: 10px;
}

#llista_activitats_html summary, #llista_activitats_css summary {
    font-size: 20px;
    border: solid black 2px;
    border-radius: 5px;
    padding: 3px;
}

#llista_activitats_html summary:hover {
    background-color: #cfcfe2;
    color:white;
    border:solid black;
}

#contacte {
    display:flex;
    justify-content: center;
}

#contacte p {
    align-content: center;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 50px;
    color:  black;
}

#contacte div {
    align-content: center;
}