* {
    font-family: sans-serif, Times;
}

header {
    text-align-last: center;
}

section{
    margin:50px;
}

#llista_activitats{
    justify-items: center;
    display: flex;
    grid-gap: 20px;
}


#contacte {
    display:flex;
    justify-content: center;
}

#contacte p {
    align-content: center;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 50px;
    color:  black;
}

#contacte div {
    align-content: center;
}