body {
    font-family: sans-serif;
    background-image: url(../imatges/background.jpg);
}

body header {
    position:sticky;
    display: block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* El color de fondo de tu header */
    color: white; 
    border:solid white 2px;
    z-index: 1000;
}

#top {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#7db7e8;
    opacity: 80%;
    text-decoration: none;
    height: 70px;
}

 #top div {
     height: 100%;
     width:15%;
     background-color: #7db7e8;
     text-align: center;
     align-items: center;
     justify-content: center;
     color:black;
}

#top a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

#top #esquerra {
    width:55%;
}

#top div:hover {
    background-color: #fff;
    transition: background-color 2s ease;
}

#nom {
    justify-content: center;
    display:grid;
    grid-template-columns:  0.33fr 0.33fr 0.33fr;
    font-size: 120px;
    font-weight: 900;
    text-shadow: 10px 10px 20px #fff;
}

section p {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

footer {
    background-color: white;
}

#contacte {
    display:flex;
    justify-content: center;
}

#contacte p {
    align-content: center;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 50px;
    color:  black;
}

#contacte div {
    align-content: center;
}


/* Animació nom */

#nomText {
  position: relative; /*Posicionem correctament el "after"*/
  display: inline-block;
}

#nomText::after {
    content:''; /*No caldrà contingur per a funcionar*/
    position: absolute;
    bottom: 0; /*Posicionar linia a sota*/
    left: 0;
    width: 0%; /* Valor inicial*/
    height: 2px; /* Gruix de la línia*/
    background-color: #fff; /* Color de la línia */
    transition: width 0.5s ease; /* Animación para cambiar el ancho */
}

#nomText:hover::after {
  width: 100%; /*Llargada final al fer hover*/
}